<div ng-controller="SummonerCtrl" class="container">

    <h2>Summoner</h2>

    <div ui-view="summonerSearch"></div>

    <div style="width: 100%; height: 100px; position: relative;" ng-if="summonerName">
        <div style="width: 100px; height: 100px; position: absolute; top: 0; left: 0;" ng-if="profileIconUrl"
             class="animate-if">
            <img ng-src="{{ profileIconUrl }}" style="float: left;" width="100" height="100"/>

            <div style="position: absolute; bottom: 2px; right: 2px; padding: 5px; font-size: 10px; color: #ffffff; background-color: #000000; opacity: 0.7">
                {{summoner.summonerLevel}}
            </div>
        </div>
        <div style="position: absolute; left: 100px; padding-left: 5px; line-height: 50px; font-size: 25px; color: #ffffff; text-shadow: 10px 4px 10px #1d9d74, 2px 2px 2px rgba(0, 0, 0, 0.15);">
            {{ summoner.name }}
        </div>
    </div>
    <br/>
    <div ng-if="showHistory" class="container panel animate-if" style="min-height: 200px; background: #f3f3f3;">
        <tabset>
            <tab heading="Resumo" select="tab1 = true; tab2 = false; tab3 = false">
                <div class="container">Resumo</div>
            </tab>
            <tab heading="History" select="tab1 = false; tab2 = true; tab3 = false">
                <div ui-view="summonerHistory"></div>
            </tab>
        </tabset>
    </div>


</div>

