<div ng-controller="SummonerCtrl" class="container">

    <h2>Invocador</h2>

    <div ui-view="summonerSearch"></div>

    <div class="alert alert-danger animate-if" role="alert" ng-if="errorMessage">{{errorMessage}}</div>

    <div class="summoner-profile-div animate-if" ng-if="summonerName">
        <div ng-if="profileIconUrl" class="summoner-profile-div animate-if">
            <img ng-src="{{ profileIconUrl }}" style="float: left; border-radius: 10px;" width="100"
                 height="100"/>

            <div class="summoner-lvl-square">
                {{summoner.summonerLevel}}
            </div>
            <div class="summoner-name-display">
                {{ summoner.name }}
            </div>
            <div class="summoner-ranked-label {{summonerTierInfo['rankedSoloTier']}}">
                {{ summonerTierInfo['rankedSoloLabel'] }}
            </div>
        </div>
    </div>

    <div class="clearfix" style="margin: 5px 0;"></div>

    <div class="container summoner-tab-container animate-if" ng-if="showHistory">
        <tabset>
            <tab heading="Resumo" select="tab1 = true; tab2 = false; tab3 = false">
                <div class="row" style="padding-top: 5px;">
                    <div class="col-sm-4" style="text-align: center;" ng-if="summonerTierInfo" class="animate-if">
                        <div class="summoner-tier-head">
                            Team 3x3
                        </div>
                        <img ng-src="{{ summonerTierInfo['ranked3x3Url'] }}" style="display: inline-block;"
                             />
                    </div>
                    <div class="col-sm-4" style="text-align: center;" ng-if="summonerTierInfo" class="animate-if">
                        <div class="summoner-tier-head">
                            Solo
                        </div>
                        <img ng-src="{{ summonerTierInfo['rankedSoloUrl'] }}" style="display: inline-block;" />
                    </div>
                    <div class="col-sm-4" style="text-align: center;" ng-if="summonerTierInfo" class="animate-if">
                        <div class="summoner-tier-head">
                            Team 5x5
                        </div>
                        <img ng-src="{{ summonerTierInfo['ranked5x5Url'] }}" style="display: inline-block;"/>
                    </div>
                </div>
            </tab>
            <tab heading="Histórico" select="tab1 = false; tab2 = true; tab3 = false">
                <div ui-view="summonerHistory"></div>
            </tab>
        </tabset>
    </div>


</div>

