<div ng-controller="ChampionCtrl" class="container">


    <h2>Campeão</h2>

    <div class="container">
        <div class="row animate-if" id="summoner-form" ng-if="champions">
            <form class="form-inline" role="form">
                <div class="form-group animate-if">
                    <select id="option" ng-model="$parent.champion" ng-options="v.name for (k,v) in champions"
                            class="form-control" ng-change="$parent.changeChampion()">
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div ng-if="selectedChampion" class="panel panel-default animate-if" style="padding: 5px; margin-top: 5px;">
        <div class="champion-lore" style="min-height: 200px;">
            <h3>{{selectedChampion.name}}</h3>
            <img ng-src="http://ddragon.leagueoflegends.com/cdn/{{currentVersion}}/img/champion/{{selectedChampion.image.full}}"
                 style="float: left; padding-right: 15px; padding-bottom: 15px;"/>
            <br/>

            <div ng-bind-html="selectedChampion.lore" style="text-align: justify;"></div>
            <br/>

        </div>

        <div ng-controller="ChampionCarousel">
            <div class="container-fluid">
                <carousel interval="0" disable-ng-animate>
                    <slide ng-repeat="skin in selectedChampion.skins" active="skin.active">
                        <img ng-src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/{{selectedChampion.image.full | limitTo:(selectedChampion.image.full.length - 4)}}_{{skin.num}}.jpg "
                             alt="{{skin.name}}" style="margin: auto">
                        <div class="carousel-caption">
                            <h4>{{skin.name === 'default' ? 'Original' : skin.name}}</h4>
                        </div>
                    </slide>
                </carousel>
            </div>


        </div>

    </div>


</div>